nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav h3 {
  margin-right: auto;
}

a:link {
  text-decoration: none;
  border-radius: 100px;
  background-color: lavender;
  padding: .5rem 2rem;
}

a:hover {
  border: 2px solid rgb(138, 138, 184);
}